# Run `pre-commit autoupdate` and `upadup` to update tool versions.
# Note that pre-commit.ci updates hook versions automatically.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

      # Allow tox to run black as a test.
      - id: black
        alias: black-check
        name: black (check)
        stages: [manual]
        args: [--check]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - "flake8-bugbear==23.1.20"

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

      # Allow tox to run isort as a test.
      - id: isort
        alias: isort-check
        name: isort (check)
        stages: [manual]
        args: [--check]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        name: "Enforce Python 3.7 idioms"
        args: [--py37-plus]

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.1
    hooks:
      - id: editorconfig-checker
