lxml-stubs==0.5.1 ; python_version >= "3.9"
mypy-extensions==1.0.0 ; python_version >= "3.9"
mypy==1.11.1 ; python_version >= "3.9"
tomli==2.0.1 ; python_version < "3.11" and python_version >= "3.9"
types-requests==2.32.0.20240712 ; python_version >= "3.9"
types-toml==0.10.8.20240310 ; python_version >= "3.9"
typing-extensions==4.12.2 ; python_version >= "3.9"
urllib3==2.2.2 ; python_version >= "3.9"
